# Virtual environments
rag-env/
venv/
.env/

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Package metadata
*.egg-info/
*.dist-info/

# Build artifacts (PyPI distribution)
build/
dist/

# IDE/Editor files
.vscode/
.idea/
*.swp

# OS junk
Thumbs.db
.DS_Store


# FAISS vector storage files
local_faiss.index
documents.db

# Misc project files (logging, user config, etc.)
processed_files.txt
ingestion.log
crash_log.txt
settings.json

# TypeScript compiled output
web/script.js
web/script.js.map
